anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cryptography
cycler
debugpy
decorator
defusedxml
distlib
Django
django-cors-headers
django-environ
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
executing
fastjsonschema
filelock
Flask
Flask-SQLAlchemy
fonttools
fqdn
greenlet
gunicorn
h11
httpcore
httpx
idna
ipykernel
ipython
isoduration
itsdangerous
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook_shim
numpy
oauthlib
overrides
packaging
pandocfilters
parso
pillow
pipenv
platformdirs
prometheus_client
prompt-toolkit
psutil
psycopg
psycopg-binary
psycopg-pool
psycopg2
pure-eval
pycparser
pycryptodome
Pygments
PyJWT
pyparsing
python-dateutil
python-dotenv
python-json-logger
python3-openid
pywin32
pywinpty
PyYAML
pyzmq
qrcode
referencing
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rpds-py
Send2Trash
setuptools
six
sniffio
social-auth-app-django
social-auth-core
soupsieve
SQLAlchemy
sqlparse
stack-data
terminado
tinycss2
tornado
traitlets
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
virtualenv
waitress
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
whitenoise
